{% load static %}
<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <title>Weather Station | About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <div class="navbar-header">


                    <a href=""><img class="logo" src="{% static 'img/img1.jpg' %}"></a>
                </div>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ac' %}">ac room</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'normal' %}">normal room</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'kitchen' %}">kitchen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">about us</a>
                    </li>


                </ul>
            </div>

        </nav>
        <div class="about">
            <h1 align="center"></h1>
            <p class="text-center"> <br>Our main aim was to create a mini weather station in an affordable price. This
                was the first
                generation
                of our arduino based mini weather station. </p>
            <!-- <p class="font-weight-bold text-center">Name & ID</p> -->


            <pre class="text-relative">
                            Name: Samiha Ferdous
                            ID: 1620834042
                            Name: Momena Akhter Shukhi
                            ID: 
                            Name: Md.Tahrim Faroque Tushar
                            ID: 1621148642
                        </pre>
            </p>
        </div>
        <a href=""><img class="" src="{% static 'img/img5.jpg' %}"></a>
    </header>

</body>

</html>